<div class="Feature">
    <img class="Feature-Icon" src="{{feature.icon}}">
    <div class="Feature-Inner">
        <div class="Feature-Head">
            <h2 class="Feature-Heading"><button id="{{feature.id}}" aria-controls="{{feature.descriptionId}}" aria-expanded="false">{{feature.name}}</button></h2>
            <div class="Feature-HeadContent">
                <p class="Feature-Status status--{{feature.status}}">{{feature.statusText}}</p>
                <div class="Feature-Description" id="{{feature.descriptionId}}" aria-labelledby="{{feature.id}}">
                    <p>{{feature.description}}</p>
                </div>
            </div>
        </div>
        <div class="Feature-Detail {{stateClass}}">
            {{#if feature.availability}}
                <div class="Feature-Availability">
                    <h3>Availability</h3>
                    <p>{{feature.availability}}</p>
                </div>
            {{/if}}
            <div class="Feature-DetailContent">
            {{#if feature.resources}}
                <h3>Resources</h3>
                <ul class="Feature-ResourcesList">
                {{#each feature.resources key="@index" as |resource|}}
                    <li><span class="icon-{{resource.type}}"></span><a href="{{resource.url}}">{{resource.name}}</a></li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if feature.champions}}
                <h3>Core Team Champions</h3>
                <ul class="Feature-Champions">
                {{#each feature.champions key="@index" as |champion|}}
                    <li class="Feature-Champion">
                        <a href="{{champion.url}}">
                            <img src="{{champion.image}}">
                            <span>{{champion.name}}</span>
                        </a>
                    </li>
                {{/each}}
                </ul>
            {{/if}}
            </div>
        </div>
    </div>
</div>