<div class="Feature">
    {{!-- <img class="Feature-Icon" src="{{feature.icon}}"> --}}
    <div class="Feature-Inner">
        <div class="Feature-Head">
            <div class="Feature-Heading column-layout">
              <div class="column-layout__left">
                <h2>
                    <button id="{{feature.id}}" aria-controls="{{feature.descriptionId}}" aria-expanded="false" onclick={{action toggle}}>{{feature.name}}</button>
                    {{#if isOpen}}
                        <button id="{{feature.id}}" aria-controls="{{feature.descriptionId}}" aria-expanded="false" onclick={{action toggle}}><span class="fa fa-angle-up"></span></button>
                    {{else}}
                        <button id="{{feature.id}}" aria-controls="{{feature.descriptionId}}" aria-expanded="false" onclick={{action toggle}}><span class="fa fa-angle-down"></span></button>
                    {{/if}}
                </h2>
                
              </div>
            </div>
            <div class="Feature-HeadContent">
                <div class="Feature-Description column-layout__left flex-3" id="{{feature.descriptionId}}" aria-labelledby="{{feature.id}}">
                    <mark-down @text={{feature.summary}}></mark-down>
                    {{#if isOpen}}
                        <mark-down @text={{feature.description}}></mark-down>
                    {{/if}}
                </div>
                
                {{#if isOpen}}
                <div class="flex-1">
                    <div class="Feature-Detail">
                        <div class="Feature-Status">
                            <h3>Status</h3>
                            <div class="status status--{{feature.status}}">
                                {{feature.statusText}}
                            </div>
                        </div>

                        {{#if feature.availability}}
                            <div class="Feature-Availability">
                                <h3>Availability</h3>
                                <p>{{feature.availability}}</p>
                            </div>
                        {{/if}}
                            {{#if feature.champions}}
                                <div class="Feature-Champions">
                                    <h3>Core Team Champions</h3>
                                    <ul>
                                        {{#each feature.champions key="@index" as |champion|}}
                                            <li class="Feature-Champion">
                                                <a href="{{champion.url}}">
                                                    <img src="{{champion.image}}">
                                                    <span>{{champion.name}}</span>
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        
                            {{#if feature.resources}}
                                <div class="Feature-Resources">
                                    <h3>Resources</h3>
                                    <ul>
                                        {{#each feature.resources key="@index" as |resource|}}
                                            <li><span class="icon-{{resource.type}}"></span><a href="{{resource.url}}">{{resource.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if isOpen}}
            <a href="" id="{{feature.id}}" aria-controls="{{feature.descriptionId}}" aria-expanded="false" onclick={{action toggle}}>
                Show less
            </a>
        {{/if}}
    </div>
</div>
